{% extends "lib_admin/base.html" %}

{% block title%}{{library.name}} - {{ book.name }} {% endblock %}

{%block content %}
<h1>{{book.name}}</h1>
<h2>
	{% if book.authors.count > 1 %}
		{% for author in book.authors.all %}
		<a href="{{author.get_absolute_url}}">{{author.name}}</a>{% if not forloop.last %},{% endif %} 
		{% endfor %}
	{% else %}
	<a href="{{ book.authors.all.0.get_absolute_url}}">{{ book.authors.all.0.name }}</a>
	{% endif %}
</h2>
<h3>{{book.publisher}}</h3>

<div id="synopsis" class="article">{{book.synopsis|safe|linebreaks}}</div>

{% if book.cover %}
<div class="cover">
	<img src="{{book.cover.url}}" alt="" />
</div>
{%endif%}

{% endblock content %}

{% block sidebar %}
	{% if others_by_author %}
		<h3>Others by same author(s)</h3>
		<ul>
			{% for book_a in others_by_author %}
				<li>
				<a href="{{ book_a.get_absolute_url}}">{{book_a.name}}</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
	{% include "lib_admin/genre_tree.html" %}
{% endblock sidebar %}
