

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html

-------------------------------------------------------------- */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

body {

	line-height: 1;

}
h1, h2, h3, h4, h5, h6 {

	font-weight: normal;

}
ol, ul {

	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}
a {

	text-decoration:none;

}
/*
 * color0: #141414
 * color1: #203E42
 * color2: #7E9899
 * color3: #D4FFFD
 * color4: #DB9655
 * color5: #DE6A00
 *
 *
 * General stuff
 */

body {
	color:#D4FFFD;
	background:#141414;
}

a {
	color: #DB9655;
}

a.button_link {

	background: #DE6A00;
	color: #D4FFFD;
	padding: 0.9em;
	border-radius: 5px;
	font-size: 1.3em;
	display: block;
	margin-bottom: 0.5em;
	line-height: 1.3em;
	text-align: center;


}

.button_link:visited {

	color:#7E9899;

}

a:visited {
	color:#DE6A00;
}

h1 {

	margin-bottom:0.3em;
	font-size:2em;
}

h2 {

	font-size:1.6em;
	margin-bottom:0.2em;

}

h3 {

	margin-bottom:0.2em;

}

p {

	margin-bottom:0.2em;

}

time {

	display:block;
	font-size: 0.8em;
	margin:1%;

}

/**
 *  Header stuff
 */

nav li {
	display: inline-block;
	margin-left:1em;
}

#header {

	position:relative;
	background:#203E42;
	margin:1%;

}

#header > h1 {

	margin-bottom:1em;

}

#simple_search {

	position:absolute;
	right:5%;
	bottom:10%;

}

#user_status {

	position: absolute;
	right: 5%;
	top: 10%;

}

/**
 * Content stuffs
 */

.box {

	background:#203E42;
	border-radius:5px;
	margin:2em;
	padding:1em;
	border-bottom:1px solid #7E9899;

}

.inner {

	border: 1px solid #DB9655;
	margin: 0.6em;

}

#content {

	width:70%;
	float:left;

}


article {


}

.article {

	clear:both;
	padding-left: 4em;
	margin:1em 0;

}

.cover {

	float:left;
	margin:0 1em 1em 0;

}

/**
 *  Sidebar
 */

#sidebar {

	float:left;

}

.lending {

	margin-bottom:0.5em;

}

#sidebar > ul {

	margin:0.5em 0;

}

.tree li {

	margin: 0.2em 0;
}

.subtree > li {

	margin:0.2em 0 0.2em 1em;

}	
