{% load lib_extras %}

	{{ formset}}
	<div class="box">
	{% for prev_tuple, tuple, next_tuple in checkouts|neighborhood %}
		{% with checkout=tuple.0 form=tuple.1 %}
			{% ifnotequal prev_tuple.0.checkout_date checkout.checkout_date %}
			<h3>Checked out on {{ checkout.checkout_date|date:"F dS Y" }}</h3>
			{% endifnotequal %}

		<div class="inner">
			<a href="{{ checkout.book.get_absolute_url }}">{{checkout.book.name}}</a> -
			{% if checkout.return_date %}
			<span>Returned on {{ checkout.return_date|date:"F dS Y" }}</span>
			{% else %}
				{% if checkout.is_overdue %}
					<span class="overdue">Overdue</span>
				{% else %}
					<span> Return by
						{{ checkout.due_date|date:"F dS Y" }}</span>
				{% endif %}
			{% endif %}
			<span class="return-box">
				{{ form.extension.label_tag }}
				{{ form.extension }}
				{{ form.return_date }}
			<input name="form-{{ forloop.counter0 }}-id" value="{{ checkout.id }}" type="hidden" /> 
			<input name="form-{{ forloop.counter0 }}-book_id" value="{{ checkout.book.id }}" type="hidden" /> 
			</span>
		</div>

			{% ifnotequal checkout.checkout_date next_tuple.0.checkout_date %}
				</div>
				{% if not forloop.last %}
					<div class="box">
				{% endif %}
			{% endifnotequal %}
		{% endwith %}
	{% empty %}
	<div class="box">
		{% if request.GET.show == 'outstanding' %}
			You have no outstanding checkouts.
		{% else %}
			You haven't checked out any books yet.
		{% endif %}
	</div>
	{% endfor %}

