{% extends "lib_admin/base_front.html" %}
{% load lib_extras %}

{% block nav %}

	{% for author in authors.object_list %}
		{% ifchanged author.last_name|first %}
		<li>
			<a href="#{{author.last_name|first|lower}}">
				{{author.last_name|first}}
			</a>
		</li>
		{% endifchanged %}
	{% endfor %}

{% endblock nav %}

{% block content %}

{% for author in authors.object_list %}
	{% ifchanged author.last_name|first %}
		<div id="{{ author.last_name|first|lower }}" class="box">
			<h2>{{author.last_name|first }}</h2>
	{% endifchanged %}

		<article class="box inner">
		<a href="{{author.get_absolute_url}}">{{author.name}}</a>
		</article>

	{% ifchanged author.last_name|first %}
		</div>
	{% endifchanged %}
{% endfor %}
<div class="box pagination">
	{% paginate authors "prev" request context %}
	{% paginate authors "next" request context %}
</div>
{% endblock content %}
