<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{{library.name}}{% endblock %}</title>
		<link rel="stylesheet" href="{% block stylesheet %}{{ STATIC_URL }}css/style.css{% endblock %}" />
		{% block extraStyles %}{% endblock extraStyles %}
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" ></script>
		{% block extraScripts %}{% endblock extraScripts %}
	</head>
	<body class="{% block bodyclass %}{% endblock %}">
		<header class="box">
			{% block branding %}<h1><a href="{{ base_url }}">{{library.name}}</a></h1>{% endblock %}
			<nav>
				<ul>
					<li>
						<a href="/catalogue/">Catalogue</a>
					</li>
					<li>
						<a href="/authors/">Authors</a>
					</li>
					<li>
						<a href="/search/">Search</a>
					</li>
				{% block nav %}
				{%endblock %}
				</ul>
			</nav>
			<div id="user_status">
				{% if user.is_authenticated %}
				Hello, {{ user.first_name }}.
				<a href="{% url logout %}">Logout</a>
				<div>
					<a href="{% url user_checkouts %}">My checkouts</a>
					<a href="{% url user_profile %}">My profile</a>
					{% if user.is_staff %}
						<a href="{% url admin %}">Admin</a>
					{% endif %}
				</div>

				{% else %}
				Please <a href="{% url login %}">login</a> to reserve books.
				{% endif %}
			</div>
			<form action="/search/" id="simple_search" method="GET">
				<input name="search" type="text" placeholder="Search by ISBN, author or name" value="{{search}}"/>
				<input type="submit" value="Search" />
			</form>
		</header>
		<div id="content">
			{% block content %}
			{% endblock content %}
		</div>
		<div id="sidebar" class="box">
			{% block sidebar %}
			{% endblock sidebar %}
			{% if user.is_staff %}
			<nav>
			<h3>Admin links</h3>
				<ul>
					<li>
						<a href="{% url checkout %}">Checkout</a>
					</li>
					<li>
						<a href="{% url checkin %}">Checkin</a>
					</li>
					<li>
						<a href="{% url add_book %}">Add book</a>
					</li>
					<li>
						<a href="{% url create_user %}">Add user</a>
					</li>
					<li>
						<a href="{% url edit_user %}">Edit user</a>
					</li>
					<li>
						<a href="{#% url adduser %#}">Checkouts</a>
					</li>
					<li>
						<a href="{#% url adduser %#}">Users</a>
					</li>
				</ul>
	</nav>
	{% endif %}
		</div>
	</body>
</html>
