{% extends "lib_admin/base_front.html" %}

{% block title%}{{library.name}} - {{ book.name }} {% endblock %}

{%block content %}
<article class="box">
	{% if book.cover %}
	<div class="cover">
		<img width=300 src="{{book.cover.url}}" alt="" />
	</div>
	{% endif %}
	<h1>{{book.name}}</h1>
	<h2>
		{% if book.authors.count > 1 %}
			{% for author in book.authors.all %}
				<a href="{{author.get_absolute_url}}">{{author.name}}</a>{% if not forloop.last %},{% endif %} 
			{% endfor %}
		{% else %}
		<a href="{{ book.authors.all.0.get_absolute_url}}">{{ book.authors.all.0.name }}</a>
		{% endif %}
	</h2>
	{% if book.publisher %}
	<h3>{{book.publisher}}</h3>
	{% endif %}
		{% if user.is_staff %}
			<a href="{% url edit_book book.id %}">Edit book</a>
		{% endif %}
	<div id="synopsis" class="article">
		{% if book.synopsis %}
		<h4>Synopsis</h4>	
		{{ book.synopsis|safe|linebreaks }}
		{% endif %}
	</div>
	{% if book.isbn %}
	<span>ISBN: {{ book.isbn }} - <a href="{{ book.get_amazon_link }}">Amazon Link</a></span>
	{% endif %}
</article>

{% endblock content %}

{% block sidebar %}
	{% if book.preview and user.is_authenticated %}
		<a href="{{book.preview}}" class="button_link">Download preview</a>
	{% else %}
		{%	if user.is_anonymous %}
		<p>Please <a href={% url  login %}>login</a> to download preview.</p>
		{% endif %}
	{% endif %}
	{% if book.available %}
	<div class="lending">
		<p>	The book is available to be lent!</p>
		{% if perms.la.checkout_book %}
		<p><a href="">Reserve</a> this book.</p>
		{% else %}
			{% if user.is_authenticated and not perms.la_checkout_book %}
			<p>You cannot reserve a book until you return your overdue books.</p>
			{% endif %}
		<p>Please <a href={% url login %}>login</a> to reserve it.</p>
		{% endif %}
	</div>
	{% endif %}
	{% if others_by_author %}
		<h3>Others by same author(s)</h3>
		<ul>
			{% for book_a in others_by_author %}
				<li>
				<a href="{{ book_a.get_absolute_url}}">{{book_a.name}}</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{{ block.super }}
{% endblock sidebar %}
