{% extends "lib_admin/base_front.html" %}
{% load lib_extras %}

{% block content %}

	{% if author %}
	<article class="box">
	<h1>{{ author.name }}</h1>
	{{ author.bio|safe|linebreaks }}
	Books by this author:
	</article>
	{% else %}
		{% if genre %}
	<article class="box">
	<h1>{{genre.name}}</h1>
	{{ genre.description|safe|linebreaks }}
	Books by this genre:
	</article>
		{% endif %}
	{% endif %}

	{% if search %}
	<div class="box">
		{% if not looks_like_isbn %}
			{% if books.object_list %}
		<p>
			Here are the results for your search for '{{search}}'.
		</p>
			{% else %}
			<p>
			There are no results for your search '{{search}}'.
			</p>
			{% endif %}
		{% else %}
			{% if not isbn %}
			<p>
				We are sorry. It seems you are trying to search by an ISBN code ({{search}}), but it is not valid.
			</p>
			{% else %}
				{% if isbn and not books.object_list %}
				<p>We are sorry, we don't seem to have the book with the specified ISBN ({{search}}).</p>
				{% endif %}	
			{% endif %}	
		{% endif %}	
	</div>
	{% endif %}

	{% if books.object_list %}
	{% for book in books.object_list %}
	<article class="box">
		<h2>
			<a href="{{book.get_absolute_url}}">{{book.name}}</a>
		</h2>
		{{book.synopsis|truncatewords:3}}
	</article>
	{% endfor %}

	<div class="box pagination">
		{% paginate books "prev" request context %}
		{% paginate books "next" request context %}
	</div>

	{% endif %}
{% endblock content %}
