{% extends "lib_admin/base_admin.html" %}

{% block extraScripts %}
	{{ block.super }}
	{{ user_form.media }}
{% endblock extraScripts %}

{% block content %}
{{err}}
<div class="box">
	We cool, dawg? {% if cool %} You know it, dawg {% endif %}
	<div id="checkin-user">
			{{user_form}}
		
		<input class="button_link small" id="check-all" type="button" value="Check all" name="check-all" />
	</div>
	
</div>
	<div id="checkin-forms">
		<form action="" method="POST" id="checkin-form"> 
			{% csrf_token %}
			<div id="added-forms"></div>
			<input type="submit" value="Checkin" name="checkin" class=" small button_link" />
		</form>
	</div>
{% endblock content %}

