{% extends "lib_admin/base_front.html" %}
{% load lib_extras %}

{% block nav %}
{% if not request.GET.show or request.GET.show == 'all' %}
	<li><a href="?show=outstanding">Outstanding</a></li>
{% else %}
	<li>
		<a href="?show=all">All</a>
	</li>
{% endif %}
{% endblock nav %}

{% block content %}
	{% for prev, checkout, next_checkout in checkouts|neighborhood %}

		{% ifchanged checkout.checkout_date %}
		<div class="box">
			<h3>Checked out on {{ checkout.checkout_date|date:"F dS Y" }}</h3>
		{% endifchanged %}

		<div class="inner">
			<a href="{{ checkout.book.get_absolute_url }}">{{checkout.book.name}}</a> -
			{% if checkout.return_date %}
			<span>Returned on {{ checkout.return_date|date:"F dS Y" }}</span>
			{% else %}
				{% if checkout.is_overdue %}
					<span class="overdue">Overdue</span>
				{% else %}
					<span> Return by
						{{ checkout.due_date|date:"F dS Y" }}</span>
				{% endif %}
			{% endif %}
		</div>

			{% ifnotequal checkout.checkout_date next_checkout.checkout_date %}
				</div>
			{% endifnotequal %}

	{% empty %}
	<div class="box">
		{% if request.GET.show == 'outstanding' %}
			You have no outstanding checkouts.
		{% else %}
			You haven't checked out any books yet.
		{% endif %}
	</div>
	{% endfor %}
{% endblock content %}
