{% extends "lib_admin/base_front.html" %}

{% block content %}
	{% for checkout in checkouts %}

		{% ifchanged checkout.checkout_date %}
		<div class="box">
			<h3>Checked out on {{ checkout.checkout_date|date:"F dS Y" }}</h3>
		{% endifchanged %}

		<div class="inner">
			<a href="{{ checkout.book.get_absolute_url
				}}">{{checkout.book.name}}</a> -
			{% if checkout.is_overdue %}
				<span class="overdue">Overdue</span>
			{% else %}
				<span> Return by
					{{checkout.checkout_date|add:12}}</span>
			{% endif %}
		</div>

		{% ifchanged checkout.checkout_date %}
			</div>
		{% endifchanged %}

	{% endfor %}
{% endblock content %}
