{% extends 'lib_admin/base.html' %}

{%block content %}
	{% if news %}
	<div class="box">
		{% for story in news %}
		<article>
		<h2><a href="{{ story.get_absolute_url }}">{{ story.title }}</a></h2>
			<time datetime="{{story.pub_date|date:"Y-m-d"}}">{{story.pub_date|date:"N jS Y"}}</time>
			{{story.content|escape|linebreaks}}
		</article>
		{% endfor %}
	</div>
	{% endif %}
{%endblock content %}

{%block sidebar %}
<h4>Newest additions</h4>
	<ol>
	{% for book in latest %}
	<a href="{{ book.get_absolute_url }}"><li>{{book.name}}</a></li>
	{%endfor %}
	</ol>
{%endblock sidebar %}
